credentials:
  fusor:
    username: "admin"
    password: "changeme"
  cdn:
    username: ""
    password: ""
deployment:
  deployment_id: ABC123
  deployment_desc: "An automated test deployment"
  deployment_timeout: 14400 # Max time(seconds) we should wait after deployment starts
  install: ['cfme', 'rhv'] # valid entries are: cfme, rhv, osp, ocp
  products:
    cfme:
      cfme_address: null
      cfme_admin_password: changeme
      cfme_install_loc: rhv # valid entries are: rhv, osp
      cfme_root_password: changeme
      cfme_db_password: changeme
    osp:
      controller_count: 1
      director_address: null
      director_ui_url: http://example.com
      director_vm_name: null
      compute_count: 1
      overcloud_nodes:
      - driver_type: pxe_ssh
        host_ip: 10.8.0.136
        mac_address: ff:ff:ff:ff:ff:ff
        host_password: changeme
        host_username: root
      undercloud_address: 192.0.1.254
      undercloud_pass: changeme
      undercloud_user: root
      network:
        provision_network:
          subnet: 255.255.255.0
          network: 192.0.3.0
          gateway: null
        public_network:
          subnet: 255.255.255.0
          network: 192.168.156.0
          gateway: 192.168.156.1
    rhv:
      cluster_name: Default
      cpu_type: Intel Nehalem Family
      data_center_name: Default
      data_domain_address: 127.0.0.1
      data_domain_name: data
      data_domain_share_path: /var/lib/exports/vms
      export_domain_address: 127.0.0.1
      export_domain_name: export
      export_domain_share_path: /var/lib/exports/exports
      hypervisor_count: 1
      include: true
      rhv_setup_type: rhevhost
      rhvh_hostname: null
      rhvh_macs: ["ff:ff:ff:ff:ff:ff"]
      rhvm_adminpass: changeme
      rhvm_engine: null
      rhvm_hostname: null
      rhvm_hypervisors: []
      rhvm_mac: ff:ff:ff:ff:ff:ef
      storage_type: NFS # Options are NFS or Gluster
    sat:
      deploy_org: Default Organization
      disconnected_manifest: /root/rhn_disconnected_manifest.zip
      disconnected_url: http://example.com
      enable_access_insights: false
      env_path: null
      rhsm_satellite:
        name: sma_name # requires a valid SMA name. QCI may mangle the sma name by changing '-' to '_'
        uuid: sma_uuid # requires a valid SMA uuid
      rhsm_subs:
      - Red Hat Cloud Infrastructure with Smart Management
      sat_desc: description
      sat_name: BasicDeployment
      update_lifecycle: immediately
      use_default_org_view: true
      disconnected_mode: false
    ose:
      ose_address: null
      subscription:
        name: OpenShift Business Partner Self-Supported NFR
        quantity: 2
      install_loc: null
      storage_size: 30
      username: admin
      user_password: changeme
      root_password: changeme
      master_vcpu: 2
      master_ram: 8
      master_disk: 30
      node_vcpu: 1
      node_ram: 8
      node_disk: 15
      available_vcpu: 0
      available_ram: 0
      available_disk: 0
      number_master_nodes: 1
      number_worker_nodes: 1
      storage_type: null
      storage_name: null
      storage_host: null
      export_path: null
      subdomain_name: null
      sample_apps: # list of element ids for the sample applications installed with OSE
      - openshift_hello_world
